.popupContainer {
  position: fixed;
  right: 0;
  top: 32%;
  transform: translateY(-50%) translateX(100%);
  transition: transform 0.3s ease-in-out;
  z-index: 100;
}

.visible {
  transform: translateY(-50%) translateX(0);
}

.popup {
  width: 400px;
  height: 310px;
  background: white;
  border-radius: 8px 0px 0px 8px;
  padding: 26px 22px 23px 22px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  position: relative;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.closeButton {
  position: absolute;
  left: 12px;
  top: 10px;
  background: none;
  border: none;
  cursor: pointer;
  padding: 4px;
  color: var(--color-text--primary);
  font-weight: 600;
}

.closeButton:hover {
  color: #333;
}

.popupContent {
  text-align: center;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.popupTitle {
  display: flex;
  justify-content: center;
  gap: 6px;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  margin: 0 0 20px;
}

.popupText {
  font-size: 14px;
  color: var(--color-text--secondary);
  margin: 0 0 16px;
  line-height: 28px;
  flex-grow: 1;
}

.italic {
  font-style: italic;
  color: var(--color-text--primary);
}

.buttonGroup {
  display: flex;
  justify-content: center;
  gap: 8px;
  margin-top: 4px;
  margin-bottom: 16px;
}

.choiceButton {
  width: 155px;
  height: 40px;
  border: none;
  border-radius: 8px;
  background-color: var(--color-action--primary);
  color: var(--color-text--light);
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.2s;
}

.choiceButton:hover {
  background-color: var(--color-action--hover);
}

.rememberChoice {
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  margin-bottom: 12px;
  color: var(--color-text--primary);
}

.rememberChoice input[type="checkbox"] {
  width: 16px;
  height: 16px;
  cursor: pointer;
}

.skipButton {
  font-size: 12px;
  background: none;
  border: none;
  color: var(--color-text--secondary);
  cursor: pointer;
  padding: 4px 8px;
}

.skipButton:hover {
  color: #333;
}

.gradientBorder {
  --border-width: 2px;
}

.gradientBorder::after {
  position: absolute;
  content: "";
  top: calc(-1 * var(--border-width));
  left: calc(-1 * var(--border-width));
  z-index: -1;
  width: calc(100% + var(--border-width) * 2);
  height: calc(100% + var(--border-width) * 2);
  background: linear-gradient(
    60deg,
    hsl(210, 68%, 92%),
    hsl(204, 100%, 97%),
    hsl(174, 78%, 39%),
    hsl(0, 100%, 67%),
    hsl(202, 93%, 39%),
    hsl(220, 88%, 3%),
    hsl(220, 10%, 62%)
  );
  background-size: 300% 300%;
  background-position: 0 50%;
  border-radius: 10px;
  animation: moveGradient 4s alternate infinite;
}

@keyframes moveGradient {
  50% {
    background-position: 100% 50%;
  }
}
