.btn {
  color: inherit;
  font-family: inherit;
  border: none;
  cursor: pointer;
  box-sizing: border-box;
}

.primary {
  background-color: var(--color-action--primary);
  color: var(--color-text--light);
  height: 40px;
  font-size: 20px;
  font-weight: 500;
  border-radius: 12px;
  padding: 12px 32px;
  line-height: 16px;

  &:hover {
    background-color: var(--color-action--hover);
  }

  &:active {
    background-color: var(--color-action--primary);
  }
}

.primarySmall {
  background-color: var(--color-action--primary);
  color: var(--color-text--light);
  height: 32px;
  font-size: 14px;
  font-weight: 400;
  border-radius: 12px;
  padding: 8px 32px;
  line-height: 16px;

  &:hover {
    background-color: var(--color-action--hover);
  }

  &:active {
    background-color: var(--color-action--primary);
  }
}
