.filtersbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: var(--color-bg--primary);
  height: 60px;
  min-height: 60px;
  padding: 0 10rem;
  gap: 32px;
  box-sizing: border-box;
  box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.25);
  z-index: 10;
}

.filtersbarOpt2 {
  height: 211px;
  gap: 0;
  justify-content: center;
}

.filtersGridContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.filtersGrid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 46px;
  row-gap: 18px;
}

.filterActionsContainer {
  margin-top: 16px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: relative;
}

.hideFilters {
  position: absolute;
  right: -210px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 16px;
  cursor: pointer;
}

.main {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 240px;
  min-width: 240px;
}

.title {
  color: var(--color-text--primary);
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 16px;
}

.applyBtn {
  margin-right: 20px;
}

.appliedFilters {
  display: flex;
  flex: 1;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.filtersList {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 10px 0;
}

.filterChip {
  display: flex;
  align-items: center;
  background: #ccc;
  border-radius: 16px;
  padding: 6px 10px;
  font-size: 14px;
}

.filterChipClose {
  margin-left: 6px;
  font-weight: bold;
  cursor: pointer;
  cursor: pointer;
  border-radius: 50%;
  padding: 4px;
}

.filterChipClose:hover {
  background: rgba(0, 0, 0, 0.1);
}
