.iconButton {
  display: inline-flex;
  flex-direction: column;
  gap: 2px;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 4px;
  border-radius: 6px;
  transition: background-color 0.3s;
  min-width: 60px;
}

.XLarge {
  width: 125px;
  height: 125px;
  max-width: 125px;
  max-height: 125px;
  padding: 0 8px;
  justify-content: space-evenly;
  box-sizing: border-box;
}

.iconButton:hover {
  background-color: var(--color-bg--hover);
}

.iconButton:active {
  background-color: var(--color-bg--active);
}

.icon {
  width: 24px;
  height: 24px;
}

.iconXLarge {
  width: 50px;
  height: 50px;
}

.iconWide {
  width: 61px;
  height: 24px;
}

.labelSmall {
  font-size: 12px;
}

.labelLarge {
  font-size: 14px;
}

.labelXLarge {
  font-size: 20px;
}
